.align-text{
  margin-left: auto;
  margin-right: auto;
}
table, #td1 {
  border: none;
}
#l-btn {
  float: left;
}
#r-btn, #r-slc {
  float: right;
}
#h-div {
  text-align: center;
  height: 20px;
  margin-top: 20px;
}
#btn-div {
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#b-div {
  background-color: darkcyan; 
  height: 30px;
  margin-top: 30px
}
#t-h2 {
  display: inline-block; 
  margin: 0
}
.page_notification {
  font-family: system-ui;
  margin-top: 10%;
  font-weight: lighter;
  text-align: center;
}